<!doctype html>
<html lang="en">
  <head>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/contact-me.css">
    <script type="text/javascript" src="../js/mainController.js"></script>
    <script type="text/javascript" src="../js/contactController.js"></script>
    <link rel='icon' href='../image/favicon.ico' type='image/x-icon' />
    <title>Contact Me</title>
  </head>

  <body onload="gridAnimation1();githubAnimation()" >
    <nav class="navbar navbar-custom navbar-expand-md fixed-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" onclick="home()">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="aboutMe()">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="projects()">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="blog()">Blog</a>
          </li> 
          <li class="nav-item active">
            <a class="nav-link" onclick="contactMe()">Contact me</a>
          </li>
        </ul>
      </div> 
    </nav>

    <br/>
    <br/>
    <br/>
    <div class="row">
      <div class="col">
        <a href="mailto:nn.kathpalia@gmail.com">
          <div class="contact-heading">
            <div class="email">
              <br/>
              <img src="../image/image-15.jpg" id="bell"/>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="https://github.com/nitinkathpalia09">
          <div class="contact-heading">
            <div style="position: relative; cursor: pointer;">
              <img src="../image/image-16.jpg" id="github">
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="https://www.linkedin.com/in/nitin-kathpalia-89a109135/">
          <div class="contact-heading">
            <div style="text-align: center; cursor: pointer;">
              <img src="../image/image-17.jpg" id="linkedin">
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row">

    </div>

  </body>
</html>