<!doctype html>
<html lang="en">
  <head>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/projects.css">
    <script type="text/javascript" src="../js/mainController.js"></script>
    <script type="text/javascript" src="../js/projectController.js"></script>
    <link rel='icon' href='../image/favicon.ico' type='image/x-icon' />
    <title>Projects</title>
  </head>

  <body>
    <nav class="navbar navbar-custom navbar-expand-md fixed-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" onclick="home()">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="aboutMe()">About me</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" onclick="projects()">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="blog()">Blog</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" onclick="contactMe()">Contact me</a>
          </li>
        </ul>
      </div> 
    </nav>

    <br/>
    <br/>
    <br/>
    <div style="text-align: center;">
      <div id="project" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#project" data-slide-to="0" class="active"></li>
          <li data-target="#project" data-slide-to="1"></li>
          <li data-target="#project" data-slide-to="2"></li>
          <li data-target="#project" data-slide-to="3"></li>
          <li data-target="#project" data-slide-to="4"></li>
          <li data-target="#project" data-slide-to="5"></li>
          <li data-target="#project" data-slide-to="6"></li>
          <li data-target="#project" data-slide-to="7"></li>
          <li data-target="#project" data-slide-to="8"></li>
          <li data-target="#project" data-slide-to="9"></li>
          <li data-target="#project" data-slide-to="10"></li>
        </ul>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../image/project/image-1.jpg" alt="Bus Companion" onclick="show1()">
          </div>
          <div class="carousel-item">
            <img src="../image/project/image-2.jpg" alt="Blockchain Implementation" onclick="show2()">
          </div>
          <div class="carousel-item">
            <img src="../image/project/image-3.jpg" alt="Lane Changer" onclick="show3()">
          </div>
          <div class="carousel-item">
            <img src="../image/project/image-4.jpg" alt="Space Shooter" onclick="show4()">
          </div>
          <div class="carousel-item">
              <img src="../image/project/image-5.jpg" alt="Vehicle Speed Detection" onclick="show5()">
            </div>
            <div class="carousel-item">
                <img src="../image/project/image-6.jpg" alt="Obstruction avoidance Robot" onclick="show6()">
              </div>
              <div class="carousel-item ">
                  <img src="../image/project/image-7.jpg" alt="Vista" onclick="show7()">
                </div>
                <div class="carousel-item">
                    <img src="../image/project/image-8.jpg" alt="Mano" onclick="show8()">
                  </div>
                  <div class="carousel-item">
                      <img src="../image/project/image-9.jpg" alt="GymManager" onclick="show9()">
                    </div>
                    <div class="carousel-item">
                        <img src="../image/project/image-10.jpg" alt="HotelSystem" onclick="show10()">
                      </div>
                      <div class="carousel-item">
                          <img src="../image/project/image-11.jpg" alt="Crypto" onclick="show11()">
                        </div>
        </div>

        <a class="carousel-control-prev" href="#project" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#project" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>

    <br/>
    <br/>
    <div id="buscompanion" class="container" style="display: none;">
      <div class="jumbotron">
        <h3>Bus Companion</h3>
        <br/>
        <p>Bus Companion is a web app that provides users the following functions on their smartphones:
          <ul>
            <li><b>Bus Search</b> The user can enter their source, destination of travel and the timing in the application which will then suggest the bus number and nearest bus timing to that specified by the user.</li>
            <li><b>Online Booking</b> This module will allow the user to book a ticket for the bus of their choice by paying online through net banking, debit card details, Paytm etc. </li>
            <li><b>RFID Cards</b> Regular users of the transport system will be issued RFID cards with a balance in them obtained on payment of that amount. </li>
            <li><b>Media Content and Live Location</b> The users will be offered various media content once they have boarded the bus and have connected to the bus server. They can also use the live location feature implemented using GPS module. </li>
          </ul>
        </p>
        <p><a href="https://github.com/nitinkathpalia09/Bus_Companion" style="cursor: pointer;"><u>Read more</u></a></p>
      </div>
    </div>
    <div id="blockchain" class="container" style="display: none;">
      <div class="jumbotron">
        <h3>Blockchain Implementation </h3>
        <br/>
        <p>Create and Store transactions in blocks that are linked to each other using hash values.

            Transactions are included in the immediate next block mined after the transaction happens.
            
            To mine the block "hashcash" proof of work algorithm is used.        
        </p>
        <p><a href="https://github.com/nitinkathpalia09/Blockchain" style="cursor: pointer;"><u>Read more</u></a></p>
      </div>
    </div>
    <div id="lanechanger" class="container" style="display: none;">
      <div class="jumbotron">
        <h3>Lane Changer</h3>
        <br/>
        <p>
          Lane Changer is a traffic management system which provides real time lane change recommendations to reduce commute time and fuel consumption. Special camera systems on roads analyze the traffic flow by identifying vehicles and computing speeds. This data is used to determine the optimum lanes for the vehicles to improve traffic flow. Lane change suggestions based on the vehicle’s route and speed are provided via an app. Vehicles with similar mileages and average speeds will eventually move in lanes which facilitates smooth travel at speeds close to maximum mileage. The journey would become considerably more pleasant which would result in improved productivity and reduced stress due to driving.
        </p>
        <p><a href="https://github.com/nitinkathpalia09/Real_time_object_detection" style="cursor: pointer;"><u>Read more</u></a></p>
      </div>
    </div>
    <div id="SpaceShooter" class="container" style="display: none;">
        <div class="jumbotron">
          <h3>Space Shooter</h3>
          <br/>
          <p>Space Shooter is an arcade game that can be played locally on your machine or using your web browser
           It was developed using the Unity 3D game engine and the assets were developed using the Blender tool. The player is a spaceship which shoots out laser bullets at the incoming set of meteors/asteroids which are destroyed when the bullet hits them. The players get 10 points for each obstacle they shoot down. So shoot down as many obstacles as you can and earn the maximum points. You can also avoid the obstacles by moving your spaceship along in the game area using the appropriate controls.  
          </p>
          <p><a href="https://github.com/nitinkathpalia09/Space_Shooter" style="cursor: pointer;"><u>Read more</u></a></p>
        </div>
      </div>
      <div id="Vehicle" class="container" style="display: none;">
          <div class="jumbotron">
            <h3>Vehicle Speed Detection</h3>
            <br/>
            <p> The project uses OpenCV on Python to detect cars and detect their speeds in real time. It uses a Haar cascade to detect cars and triangular similarity to detect their real time speeds from the video feed. We can also use a pre recorded video file as input to detect speed of cars in it. It is a great application of the image processing tools such as OpenCV and triangular similarity. It can help you solve traffic issues and speeding promblems on the roads in your neighbourhood.   
            </p>
            <p><a href="https://github.com/nitinkathpalia09/Vehicle_Speed_Detection" style="cursor: pointer;"><u>Read more</u></a></p>
          </div>
        </div>
        <div id="Robot" class="container" style="display: none;">
            <div class="jumbotron">
              <h3>Obstruction Avoidance Robot</h3>
              <br/>
              <p> Robots are machines which reduce the human efforts in heavy works by automating the tasks
                  in industries, factories, hospitals etc. Most of the robots are run by using some control unit or
                  components like a push button, remote, joystick, PC, gestures and by executing some command
                  by using controller or processor. But today we are here with a Automatic Robot which moves
                  autonomously without any external events avoiding all the obstacle in its path, yes we talking
                  about Obstacle Avoiding Robot. In this project, we have used Raspberry Pi and Motor
                  driver to drive the robot and Ultrasonic sensor for detecting objects in the path of Robot.   
              </p>
              <p><a href="https://github.com/nitinkathpalia09/Obstruction_Avoidance_Robot" style="cursor: pointer;"><u>Read more</u></a></p>
            </div>
          </div>
          <div id="Vista" class="container" style="display: none;">
              <div class="jumbotron">
                <h3>Vista-The Blogging Website</h3>
                <br/>
                <p>This project is about building a website from scratch which will allow users to login and select the fields of
                    their interest and interact with other people who are interested in the similar field in form of topics and
                    comments which will give endless opportunities to the technology enthusiasts or any other fields enthusiast
                    to get reviews on the certain topics, travellers can get to know about the more unexplored locations to visit
                    during their next vacation etc, built and interacting part will include just logging in or signing up if you’re
                    visiting of the first time and then users will be prompt to select their topic of interest after which they will
                    be allowed to go through all the topics and related questions and comments other people of the same
                    interest are going through.</p>
                <p><a href="https://github.com/nitinkathpalia09/Blogging_Website" style="cursor: pointer;"><u>Read more</u></a></p>
              </div>
            </div>
            <div id="Mano" class="container" style="display: none;">
                <div class="jumbotron">
                  <h3>Mano-Mouse Gesture Control</h3>
                  <br/>
                  <p>You are watching a movie with your friends on a laptop and one of the guys gets a
                      call.Ahh.. you have to get off your place to pause the movie. You are giving a presentation
                      on a projector and need to switch between applications. You have to move across the whole
                      stage to the podium to use your mouse. How better would it be if you could control your
                      mouse from wherever you were? Well, we have a solution! Mano.
                      Mano is a mouse simulation system which performs all the functions performed by
                      your mouse corresponding to your hand movements and gestures. Simply speaking, a
                      camera captures your video and depending on your hand gestures, you can move the cursor
                      and perform left click, right click, drag, select and scroll up and down. The predefined
                      gestures make use of only three fingers marked by different colours.</p>
                  <p><a href="https://github.com/nitinkathpalia09/Mouse_control" style="cursor: pointer;"><u>Read more</u></a></p>
                </div>
              </div>
              <div id="GymManager" class="container" style="display: none;">
                  <div class="jumbotron">
                    <h3>Gym Manager</h3>
                    <br/>
                    <p>A java Swing UI app that helps you manage your gymnasium by providing an easy to use Database management system along with an interactive User Interface.    
                    </p>
                    <p><a href="https://github.com/nitinkathpalia09/DBMS_Project" style="cursor: pointer;"><u>Read more</u></a></p>
                  </div>
                </div>
                <div id="HotelSystem" class="container" style="display: none;">
                    <div class="jumbotron">
                      <h3>Hotel Recommendation System</h3>
                      <br/>
                      <p>A recommendation system is a subclass of information filtering system that seeks to predict the preference a user would give to a product. Such systems are increasingly popular in recent years, and utilized in variety of areas of market. For the recommendation system to work various criteria like previous browsing history of user, purchases, cost preferences etc. are considered.
                          For the development of our project-Hotel Recommendation system, we have used data from two sites- Foursquare and Yelp.
                          Foursquare is a local search and discovery system which provides personalized recommendation of place.
                          Yelp is crowd-sourced local business site where users submit a review of services/products using one to five-star rating system.
                          For the working of recommendation system, data is extracted from Yelp and Foursquare during run time using web scrawlers.
                          Also, we have the datasets of the user-venue based details of Foursquare, which we have acquired from archive.org.    
                      </p>
                      <p><a href="https://github.com/nitinkathpalia09/Hotel_Recommendation_System" style="cursor: pointer;"><u>Read more</u></a></p>
                    </div>
                  </div>
                  <div id="Crypto" class="container" style="display: none;">
                      <div class="jumbotron">
                        <h3>Image Steganography with Visual Cryptography</h3>
                        <br/>
                        <p>Steganography is the science of writing hidden data in such a way that no one, apart from the sender and intended recipient, suspects the existence of the message. Images are made up of pixels. Each pixel represents 3 bytes: Red, Green and Blue. The difference between two colors that differ by one bit in either one red, green or blue value is impossible to detect for the human eye. Therefore, we can change the least significant bit in a byte. This means, we can overwrite the last bit in a byte without affecting the colors. Decryption of the data can be done by subtracting the original image with cover image, leaving behind the encrypted data.

                            Over Image Steganography, we will implement a Visual Cryptography algorithm. Visual cryptography is a technique that allows information (such as text, images, etc.) to be encrypted using encoding system that can be decrypted by the eyes. The basis of the technique is the superposition of two (or more) semi-transparent layers. Individually, there is no message printed on either one of the sheets. Overlapping them creates addition interference to the light passing through.
                        </p>     
                        
                        <p><a href="https://github.com/nitinkathpalia09/Image_Steganography_and_Visual_Cryptography" style="cursor: pointer;"><u>Read more</u></a></p>
                      </div>
                    </div>
  </body>
</html>