<!doctype html>
<html lang="en">
  <head>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/projects.css">
    <script type="text/javascript" src="../js/mainController.js"></script>
    <script type="text/javascript" src="../js/projectController.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-custom navbar-expand-md fixed-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" onclick="home()">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="aboutMe()">About me</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" onclick="projects()">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="blog()">Blog</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" onclick="contactMe()">Contact me</a>
          </li>
        </ul>
      </div> 
    </nav>

    <br/>
    <br/>
    <br/>
    <div style="text-align: center;">
      <div id="project" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#project" data-slide-to="0" class="active"></li>
          <li data-target="#project" data-slide-to="1"></li>
          <li data-target="#project" data-slide-to="2"></li>
          
        </ul>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../image/project/image-1.jpg" alt="Bus Companion" onclick="show1()">
          </div>
          <div class="carousel-item">
            <img src="../image/project/image-2.jpg" alt="Blockchain Implementation" onclick="show2()">
          </div>
          <div class="carousel-item">
            <img src="../image/project/image-3.jpg" alt="Lane Changer" onclick="show3()">
          </div>
          
        </div>

        <a class="carousel-control-prev" href="#project" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#project" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>

    <br/>
    <br/>
    <div id="birdwatcher" class="container" style="display: none;">
      <div class="jumbotron">
        <h3>Bus Companion</h3>
        <br/>
        <p>Bus Companion is a web app that provides users the following functions on their smartphones:
          <ul>
            <li><b>Bus Search</b> The user can enter their source, destination of travel and the timing in the application which will then suggest the bus number and nearest bus timing to that specified by the user.</li>
            <li><b>Online Booking</b> This module will allow the user to book a ticket for the bus of their choice by paying online through net banking, debit card details, Paytm etc. </li>
            <li><b>RFID Cards</b> Regular users of the transport system will be issued RFID cards with a balance in them obtained on payment of that amount. </li>
            <li><b>Media Content and Live Location</b> The users will be offered various media content once they have boarded the bus and have connected to the bus server. They can also use the live location feature implemented using GPS module. </li>
          </ul>
        </p>
        <p><a href="https://github.com/nitinkathpalia09/Bus_Companion" style="cursor: pointer;"><u>Read more</u></a></p>
      </div>
    </div>
    <div id="mapbot" class="container" style="display: none;">
      <div class="jumbotron">
        <h3>Blockchain Implementation </h3>
        <br/>
        <p>Create and Store transactions in blocks that are linked to each other using hash values.

            Transactions are included in the immediate next block mined after the transaction happens.
            
            To mine the block "hashcash" proof of work algorithm is used.        
        </p>
        <p><a href="https://github.com/nitinkathpalia09/Blockchain" style="cursor: pointer;"><u>Read more</u></a></p>
      </div>
    </div>
    <div id="lanechanger" class="container" style="display: none;">
      <div class="jumbotron">
        <h3>Lane Changer</h3>
        <br/>
        <p>
          Lane Changer is a traffic management system which provides real time lane change recommendations to reduce commute time and fuel consumption. Special camera systems on roads analyze the traffic flow by identifying vehicles and computing speeds. This data is used to determine the optimum lanes for the vehicles to improve traffic flow. Lane change suggestions based on the vehicle’s route and speed are provided via an app. Vehicles with similar mileages and average speeds will eventually move in lanes which facilitates smooth travel at speeds close to maximum mileage. The journey would become considerably more pleasant which would result in improved productivity and reduced stress due to driving.
        </p>
        <p><a href="https://github.com/nitinkathpalia09/Real_time_object_detection" style="cursor: pointer;"><u>Read more</u></a></p>
      </div>
    </div>

  </body>
</html>